<!DOCTYPE html>
<html lang="en">
<body class="container">
<main>
  <div class="jumbotron">
    <h1>This is great</h1>
    <p>Welcome to templating using EJS</p>

    <h2>Variable</h2>
    <p><%= locals.name %></p>
    <p><%= locals.id %></p>
    <p><%= locals.access_token %></p>
  </div>
</main>
</body>
</html>
